body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #eceada; /* Header background color */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px; 
    height: 70px;
    
}

.logo img {
    position: absolute;
    top: 8px;
    width: 130px;
    height: auto; 
    z-index: 2;
    
}
.navbar a {
    font-size: 17px;
    margin-right: 40px;
}
.navbar {
    justify-content: center

}

.background img {
    display: block;
    width: 100%;
    height: 100%;

}

.content h1 {
    position: absolute;
    color: white;
    margin-top: 200px;
    font-size: 50px;
    left: 20%;
}


