body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #eceada; /* Header background color */
}

.header-content {
    display: flex;
    align-items: center;
    padding: 5px 25px; 
}

.logo img {
    width: 100px;
    height: auto; 
    
}
.navbar a {
    
    margin-right: 40px;
}
.navbar {
    padding: 20px;
}