body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #eceada; /* Header background color */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px; 
    height: 70px;
    
}

.logo img {
    position: absolute;
    top: 8px;
    width: 130px;
    height: auto; 
    z-index: 2;
    
}
.navbar a {
    font-size: 17px;
    margin-right: 40px;
    background-color: transparent;
    text-decoration: none;
    color: #101c4e;
}
.navbar {
    justify-content: center
}

.background img {
    display: block;
    width: 100%;
    height: 100%;
}

.content h1 {
    position: absolute;
    color: #eceada;
    margin-top: 240px;
    font-size: 50px;
    left: 20%;
}

/*blue boxes in homepage*/
.box {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 28%;
    height: 30px;
    padding-top: 60px;
    padding-bottom: 80px;
    background-color:#101c4e;
 }
 .textbox {
    text-align: center;
    color: #eceada;
    font-weight: bold;
    font-size: 20px;
 }
 .textbox a {
    background-color: transparent;
    text-decoration: none;
    color: #eceada;
 }

/*h1 style for SHOP and ABOUT*/
h1 {
    text-align: center;
}

/*ABOUT page*/
.about h4{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*slideshow*/
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  /*end of slideshow*/

  .row2 h1{
    margin-top: 8%;
  }
  .row3 h1{
    margin-top: 5%;
  }

  /*gallery*/
  div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-left: 6%;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }